/* Match original #root + #topbar + #mainrow + #content layout */
.root {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: var(--col-back);
  line-height: 1.4;
}

.topbar {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex: 0 0 auto;
  background: var(--col-back-panel);
  border-bottom: 1px solid var(--col-border);
  z-index: 1;
}

.mainrow {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  height: 0; /* non-webkit fix */
}

.content {
  overflow: auto;
  flex: 1 1 auto;
  position: relative;
}
